{% extends "layout.html" %}

{% block content %}

<div class="container">

  <h1> {{ room.name }} </h1>
    <div id="description">


  <!--<pre id="description" style="font-family: Helvetica Neue; margin-left: 30px; color: #e8491d;"> </pre> -->
    {{ room.description }}

    </div>
  {% if room.name in ["Death", "The End"] %}
    <p><a id="game-over" href="/">Play Again?</a></p>
  {% else %}
    <p>
      <form class="my-form" action="game" method="POST">
        <input type="text" name="action"> <input type="SUBMIT" value="OBEY!">
      </form>
    </p>
</div>
{% endif %}



{% endblock %}
